@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.header {
    display: flex;
    background-size: cover;
    justify-content: space-between;
    padding: 0 7%;
    background: #f7fdf5;
    height: 6vh;
}

.menuWrapper {
    padding: 5px 0;
}

.menu {
    list-style: none;
    padding: 3px 0 0;
    text-align: center;
    opacity: 0.8;
}

.menu li {
    display: inline-block;
}

.menu li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.menu li:last-child:after {
    content: none;
}

.menu a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin: 0 34px 0 30px;
    font-size: 19px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    color: #1c19c5;
    opacity: 1;
}

.menu a.active {
    border-bottom: rgba(75, 63, 59, 0.95) 5px solid;
    opacity: 1;
}

.menu a.current, .menu a:hover {
    color: #6667af;
    opacity: 1;
}

.menu a:before,
.menu a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    color: #1c19c5;
    opacity: 1;
}

.signIn {
    padding: 6px 0;
}
