.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 53vh;
    margin: 40px 0;
    background: rgba(134, 254, 254, 0.4);
    height: 400px;
    border-radius: 25px;
}

.text{
    font-family: 'Ubuntu Condensed', sans-serif;

}
.input {
    width: 85%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 85%;
}
